    
h1 {
    margin: 0; /* 去除标题的默认边距 */
    color: rgb(255, 255, 255); /* 设置标题的文字颜色 */
}

.center{
    color:rgb(39, 148, 81);
    text-align:center;
    margin: 0 auto;
}

.left{
    color:rgb(199, 100, 150);
    text-align:left;
    margin:0 auto;
}

.right{
    color:rgb(217, 249, 57);
    text-align:right;
    margin: 0 auto;
}

table {
border-collapse: separate;
border-spacing: 130px 1px;  /* 设置单元格之间的间距*/
}

td {
padding: 10px; /* 设置单元格内边距为 10px */
}

.button_search {
display: inline-block;
background-color: #4CAF50; /* Green */
color: white;
padding: 8px 12px;
text-align: center;
text-decoration: none;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
border-radius: 5px;
}

.background1{
margin: 0;
background-image: url("images/蒙德风光.jpg");
background-size: cover;
background-repeat: no-repeat;
}

.background2{
margin: 0;
background-image: url("images/鸣神大社.png");
background-size: cover;
background-repeat: no-repeat;
}


.container_background_changer {
width: 200px;
height: 50px;
position: relative;
overflow: hidden;
border: 1px solid #ccc;
}

.button_background {
width: 100px;
height: 50px;
position: absolute;
top: 0;
transition: transform 0.3s;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
}

.background_left {
left: 0;
background-color: #3eb2d6;
}

.background_right {
left: 100px;
background-color: #aa0eb5;
}

ul {
    list-style-type: none;
    padding: 0;
  }
li {
    margin-bottom: 10px;
  }
